[submodule "navbar"]
	path = navbar
	url = git@github.com:GarudaPratama/mudol-belajar-submodul.git
[submodule "body"]
	path = body
	url = git@github.com:GarudaPratama/mudol-belajar-submodul.git
[submodule "modul2"]
	path = modul2
	url = git@github.com:GarudaPratama/modul-belajar-submodul-2.git
